@model BankingApp.Models.Transaction

@using (Html.BeginForm())
{
    <div class="form-check">
        @Html.RadioButtonFor(m => m.TransactionType, "D", new { htmlAttributes = new { @class = "form-check-input" }})
        <label class="form-check-label" for="transactionRadio1"> Deposit </label>
    </div>
    <div class="form-check">
        @Html.RadioButtonFor(m => m.TransactionType, "W", new { htmlAttributes = new { @class = "form-check-input" } })
        <label class="form-check-label" for="transactionRadio2"> Withdraw </label>
    </div>
    <div class="col-auto">
        <label class="sr-only" for="inlineFormInputGroup">Amount</label>
        <div class="input-group mb-2">
            <div class="input-group-prepend">
                <div class="input-group-text">₹</div>
            </div>
            @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control" }, placeholder = "Amount" })
        </div>
    </div>
    <div class="col-auto">
        <button type="submit" class="btn btn-large  btn-primary btn-block mb-2">Submit</button>
    </div>
}

