@model BankingApp.Models.User

@{
    ViewBag.Title = "Welcome";
}
<script src="~/Scripts/jquery-3.6.0.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<div class="container">
    <div class="row">
        <div class="col-md-10">
            <h2>Welcome @Model.Name.Split()[0]!</h2>
            <h5>Balance: @Model.Balance</h5>
        </div>
        
    </div>
</div>

@Ajax.ActionLink("View Passbook", "Passbook", new AjaxOptions()
{
    HttpMethod = "GET",
    UpdateTargetId = "divPassbook",
    InsertionMode = InsertionMode.Replace
})

@Ajax.ActionLink("Deposit/Withdraw", "Transact", new AjaxOptions()
{
    HttpMethod = "GET",
    UpdateTargetId = "divTransaction",
    InsertionMode = InsertionMode.Replace
})

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div id="divPassbook"></div>
        </div>
        <div class="col-md-4">
            <div id="divTransaction"></div>
        </div>
    </div>
</div>




